/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Impact', Times, serif;
    font-weight: 700;
}

/* Corps de la page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap : 30px;
    background: #0c192c;
    min-height: 100vh;
    overflow: scroll;
    position: relative;
    color: #ffffff;
}

/* Titres */
h1 {
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}

/* Header */
header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.header-content {
    display: flex;
    align-items: center;
}

.name p {
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

/* Menu */
.menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 200;
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100%;
    background-color: #0c192c;
    color: white;
    transition: right 0.3s ease;
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.menu a {
    color: #666666;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 20px 0;
}

.menu a:hover {
    text-decoration: underline;
}

.menu.active {
    right: 0;
}

/* Contenu de la page d'accueil */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate(-50%, -70%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

body.page-contact h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInDown 1s ease-out forwards;
    opacity: 0; /* Assurez-vous qu'il est invisible au départ */
}

.presentation {
    position: absolute;
    top: calc(35% + 100px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; /* Space between categories */
    z-index: 50;
}

.categories {
    display: flex;
    gap: 40px; /* Space between category items */
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #666666;
}

.category img {
    width: 70px;
    height: 70px;
    padding: 10px; /* Adjust the padding as needed */
}

.category h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

.category p {
    font-size: 1rem;
    max-width: 200px;
}

/* Pied de page */
footer {
    position: fixed;
    background-color: #0c192c;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.footer-content {
    display: flex;
    width: 100%;
}

.email {
    font-size: 1.2rem;
    color: grey;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

.reseaux_sociaux {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

.github img,
.linkedin img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.github:hover img,
.linkedin:hover img {
    transform: scale(1.2);
}

/* Style spécifique à la page formations */ 
.liste-formations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.formation {
    background-color: #1a2b4c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formation:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.formation h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #ffffff;
}
.formation h3 {
    font-size: 1.2rem;
    color: #ffffff;
}

.formation h4 {
    font-size: 1rem;
    font-style: italic;
    color: grey;
    margin-top: 10px;
}

.formation p {
    margin-top: 10px;
    font-size: 1rem;
    color: grey;
    display: none;
}

.formation p:target{
    display:block;
}

.formation details {
    cursor: pointer;
    margin-top: 10px;
    color : grey;
}


/* Style spécifique à la page contact */
body.page-contact h1 {
    position: absolute;
    top: calc(35% + 100px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
}

body.page-contact section {
    position: absolute;
    top: calc(55% + 100px); /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    color: #666666;
}


body.page-contact a:hover {
    text-decoration: underline;
}
