*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Impact', Times, serif;
    font-weight: 700;
    font-style: normal, serif;
}


body{
    background: #0c192c;
    min-height: 100vh;
    overflow: scroll;
    position: relative;
}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #ffffff;
    z-index: 100;
}


/* Menu */ 
.menu-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 200;
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 100%;
    background-color: #0c192c;
    color: white;
    transition: right 0.3s ease;
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.menu a {
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 20px 0;
}

.menu a:hover {
    text-decoration: underline;
}

.menu.active {
    right: 0;
}

/* Contenu de la page */
.rectangle.left{
    position: absolute;
    top: calc(50% + 400px); /* Place sous le titre */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px; /* Espace entre les rectangles */
    z-index: -1;
}

/* Pied de page */
footer {
position: fixed;
background-color: #0c192c;
color: white;
text-align: center;
padding: 1em 0;
bottom: 0;
width: 100%;
z-index: 1;
display: flex;
align-items: center;
padding: 10px 20px;
}

.footer-content {
    display: flex;
    width: 100%;
}

.email {
    font-size: 1.2rem;
    color: grey;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

.reseaux_sociaux {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 2;
}

.github img, .linkedin img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.github:hover img, .linkedin:hover img {
    transform: scale(1.2);
}

